<div class="card-wrapper">
    <div class="cardHeader">
        <form action="/category" method="POST">
            <input type="hidden" name="id" value="<%= id %>"/>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <% if(!detailsPage) { %>
                <button class="deleteProduct" type="submit">X</button>
            <% } %>
        </form>
    <div class="cardBody">
        <p class="title"><%= title %></p>
        <% if(image) { %>
            <img src='<%= image %>' />
        <% } else { %>
            <img src="https://icon-library.com/images/no-image-available-icon/no-image-available-icon-11.jpg" />
        <% } %>
        <p class="price">$<%= price %></p>
        <% if(!detailsPage) { %>
            <p class="description"><%= desc %></p>
        <% } else { %>
            <p class="desc"><%= desc %></p>
        <% } %>
    </div>
    <div class="cardFooter">
        <% if(!detailsPage) { %>
            <a class="coloured-btn" href="/category/<%= id %>">Details</a>
        <% } %>
        <% if(Authenticated) { %>
            <form action="/cart" method="POST">
                <input type="hidden" name="id" value="<%= id %>"/>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button type="submit">Add to cart</button>
            </form>
        <% } %>
    </div>

</div>